<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description"
          content="">
    <meta name="author"
          content="m0rgul">

    <title>
        <%- title || 'no title' %>
    </title>

</head>

<body>
<a href="/">Home</a>
<a href="/categories">Categories</a>
<a href="/products">Products</a>
<section class="main-section"></section>
Home
</body>

</html>